/kurento-room-node-master
/aws
/node_modules
/public/hot
/public/storage
/storage/*.key

/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.phpunit.result.cache

public/uploads/photos/*
!public/uploads/photos/index.html

public/uploads/admin/gallery/*
!public/uploads/admin/gallery/index.html

public/uploads/admin/files/*
!public/uploads/admin/files/index.html

public/uploads/admin/bulletins/*
!public/uploads/admin/bulletins/index.html

public/uploads/sermons/*
!public/uploads/sermons/index.html

public/uploads/admin/groups/*
!public/uploads/admin/groups/index.html

public/uploads/admin/send_mail/*
!public/uploads/admin/send_mail/index.html

public/uploads/admin/event/*
!public/uploads/admin/event/index.html

public/uploads/admin/member/*
!public/uploads/admin/member/index.html

public/uploads/admin/preacher/*
!public/uploads/admin/preacher/index.html

public/uploads/admin/quotes/*
!public/uploads/admin/quotes/index.html

public/uploads/avatars/*
!public/uploads/avatars/index.html


public/uploads/export/*
!public/uploads/export/index.html

public/uploads/audio/*
!public/uploads/audio/index.html

public/uploads/video/*
!public/uploads/video/index.html

public/uploads/files/*
!public/uploads/files/index.html

.DS_Store
*.log
composer.phar
.env_churchcms
